.page{
    position: relative;
    min-height: 100vh;
}

.center{
    position: absolute;
    top: 10vh;
    width: 100%;
    padding: 3%;
    text-align: center;
}

.board{
    position: absolute;
    background-color:#0f0f0f;
    opacity: 40%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.avatar{
    position: relative;
    top: 45%;
    margin: auto;
}

.text{
    position: relative;
    margin: 50px 0 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 3%;
    text-align: center;
  }

.card {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: #fff;
    min-height: 50vh;
    margin: 50px;
}